.card-promocao{
    transition: .3s ease;
    &:hover{
        transform: scale(1.05);
        @include box-shadow-card;
    }
    &__link{
        display: block;
    }

    &__img{
        @include flex;
        width: 100%;
        height: 100%;
    }


}