.preloader{
    @include flex;
    @include just-center;
    @include align-center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #070707;
    z-index: $z-index-preloader;

    &.active{
        transform: translateY(-100vh);
        transition: ease-in-out 2s;
        // transition-delay: 1s;
    }

    &:before{
        content: 'Carregando';
        position: absolute;
        font-size: 10rem;
        font-weight: 900;
        text-transform: uppercase;
        color: rgba(255,255,255,.03);

    }
}

.counter{
    position: relative;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    z-index: 1;

    &::after{
        content: '%';
        font-size: 2rem;
    }
}

.hide{
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}