//Variavel de Font
$font:'Poppins', sans-serif;

//Variavel de Z-Index
$z-index-preloader: 99999;
$z-index-menu: 9000;


//Variaveis de Cores
/****PRETO****/
$preto: #222;

/****BRANCO****/
$branco: #fff;

/****VERMELHO****/
$vermelho: #ff2600;

/****CINZA****/
$cinza: #c7c7c7;
$cinza-light: #dbdbdb;

